* {
    margin: 0;
    padding: 0;
}
.container {
    display:flex;
    background-color: #f2f2f2;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    margin: 0px;
}
.header {
    flex:auto;
    width: 100%;
    margin: 0px;
    padding: 10px;
    background-color: #e6f4ff;
    text-align: center;
}
.header-content {
    margin-left: 240px;
    margin-right: 240px;
    text-align: left;
}
.header-img {
    display: inline-flex;
}
.content {
    flex:auto;
    margin-left: 250px;
    margin-right: 250px;
    padding: 0px;
}
.cover {
    display: inline-flex;
    background-color: #ffffff;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;

}
.item {
    background-color: #ffffff;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* p {
    padding: 10px;
} */
 .header img {
    border-radius: 10px;
 }
 .header p {
    color: gray;
    padding : 0px;
    margin: 0px;
    
}
.cover p {
    text-indent: 2em;
    font-size: 15px;
    line-height: 1.5;
    margin: 0px;
    margin-right: 20px;
}
.cover-img img {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

h1{
    font-weight: normal;
    margin-bottom: 0%;
}
h2 {
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
    font-weight: normal;
    font-size: 25px;
}
h3 {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    font-size: 16px;
    font-weight:500;
    color:royalblue;
}
h4 {
    padding: 0px;
    margin: 0px;
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 400;
    text-wrap:none;
}

#visit {
    display: flex;
    justify-content:flex-end;
    font-size: 12px;
    margin-top:20px;
    margin-bottom: 20px;
}
#visit table {
    border-collapse: collapse;   
}
#visit th{
    color:cornflowerblue;
    padding-left: 10px;

}
#visit td{
    color:gray;
    border-right: 1px solid lightgray;
    padding-right: 10px;
}
#visit td:last-child{
    border-right: none;
}

table{
    text-align: left;
    font-size: 15px;
}

#info {
    display: flex;
    flex-grow: 1;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 2;
}
#info th {
    padding-right: 50px;
}
#info td {
    color: gray;
    padding-right: 100px;
}
.actor {
    display: inline-flex;
}
img{
    margin: 10px;
    margin-left: 20px;
}
a:link {color:#0000FF;text-decoration:underline;}      /* 未访问链接*/
a:visited {color:blueviolet;text-decoration:underline;}  /* 已访问链接 */
a:hover {color:blueviolet;text-decoration:underline;}  /* 鼠标移动到链接上 */
a:active {color:blueviolet;text-decoration:underline;}  /* 鼠标点击时 */

.sub-header {
    display: flex;
    align-items:center;
    margin-bottom: 10px;
}

#basic {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    border-collapse: collapse;
    margin-bottom: 20px;
}
#basic tr{
    border-bottom: 1px solid lightgray;
}
#basic th {
    padding: 10px;
    padding-right: 50px;
    color: gray;
}
#basic td {
    padding: 10px;
    padding-right: 100px;
}

#header-deco {
    height: 25px;    
    border-left-style: solid;
    border-left-color:mediumblue;
    border-left-width: 10px;
}
#line-gray {
    height: 1px;
    background-color:lightgray;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
}
/* .actor-img img{
    margin-top: 10px;
    margin-bottom: 10px;
} */
.actor-info p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    margin-right: 20px;
}